{% extends 'base.html' %}
{% load static %}{% block content %}
    <header class="header--form-page">
      <nav class="container container--70">
        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ request.user.first_name }}
            <ul class="dropdown">
              <li><a href={% url "profile" %}>Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
               {% if user.is_staff %}
                    <li><a href="/admin">Panel administracyjny</a></li>
                    {% endif %}
              <li><a href={% url "logout" %}>Wyloguj</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li><a href="{% url "landing_page" %}" class="btn btn--without-border">Start</a></li>
          <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url "add_donation" %}" class="btn btn--without-border active">Przekaż dary</a></li>
          <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Oddaj rzeczy, których już nie chcesz<br />
            <span class="uppercase">potrzebującym</span>
          </h1>

          <div class="slogan--steps">
            <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
            <ul class="slogan--steps-boxes">
              <li>
                <div><em>1</em><span>Wybierz rzeczy</span></div>
              </li>
              <li>
                <div><em>2</em><span>Spakuj je w worki</span></div>
              </li>
              <li>
                <div><em>3</em><span>Wybierz fundację</span></div>
              </li>
              <li>
                <div><em>4</em><span>Zamów kuriera</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="form--steps">
      <div class="form--steps-instructions">
        <div class="form--steps-container">
          <h3>Ważne!</h3>
          <p data-step="1" class="active">
            Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
            wiedzieć komu najlepiej je przekazać.
          </p>
          <p data-step="2">
            Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
            wiedzieć komu najlepiej je przekazać.
          </p>
          <p data-step="3">
           Wybierz jedną, do
            której trafi Twoja przesyłka.
          </p>
          <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
      </div>

      <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/5</div>

        <form action='/add_donation/' method="POST" id="form1">
        {% csrf_token %}
          <!-- STEP 1: class .active is switching steps -->
          <div data-step="1" class="active">
            <h3>Zaznacz co chcesz oddać:</h3>
  {% for c in category %}
            <div class="form-group form-group--checkbox">
              <label>
                  <input
                          class="checkbox_cat"
                          data-filter="category"
                  type="checkbox"
                  name="categories"
                  id="selection-button"
                  value= {{ c.id }}

                />
                <span class="checkbox"></span>
                <span class="description"
                  >{{ c.name }}</span
                >
              </label>
            </div>
                    {% endfor %}


            <div class="form-group form-group--buttons">
              <button type="button" class="btn next-step" id="request-btn">Dalej</button>
            </div>
          </div>

          <!-- STEP 2 -->
          <div data-step="2">
            <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>
            <div class="form-group form-group--inline">
              <label>
                Liczba 60l worków:
                <input type="number" name="bags" step="1" min="1" id="bags" />
              </label>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          </div>



          <!-- STEP 4 -->
          <div data-step="3">
            <h3>Wybierz organizacje, której chcesz pomóc:</h3>

            <div class="form-group form-group--checkbox" id="filteredInstitution">
            <p class="ajaxLoader">Laoding...</p>
                {% for i in data %}
              <label>
                <input type="radio" name="organization" id="organization" value={{ i.name }}  class="checkbox-org" data-filter="org"/>
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">{{ i.name }}</div>
                  <div class="subtitle">
                   {{ i.description }}
                  </div>
                </span>
              </label>
                {% endfor %}
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          </div>

          <!-- STEP 5 -->
          <div data-step="4">
            <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

            <div class="form-section form-section--columns">
              <div class="form-section--column">
                <h4>Adres odbioru</h4>
                <div class="form-group form-group--inline">
                  <label> Ulica <input type="text" name="address" id="address" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label> Miasto <input type="text" name="city" id="city" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Kod pocztowy <input type="text" name="postcode" id="postcode" />
                  </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Numer telefonu <input type="phone" name="phone" id="phone" />
                  </label>
                </div>
              </div>

              <div class="form-section--column">
                <h4>Termin odbioru</h4>
                <div class="form-group form-group--inline">
                  <label> Data <input type="date" name="data" id="data" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label> Godzina <input type="time" name="time" id="time" value="00:00" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Uwagi dla kuriera
                    <textarea name="more_info" rows="5" id="more_info"></textarea>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step" >Wstecz</button>
              <button type="button" class="btn next-step" id="summary" onclick="showData()" >Dalej</button>
            </div>
          </div>

          <!-- STEP 6 -->
          <div data-step="5">
            <h3>Podsumowanie Twojej darowizny</h3>

            <div class="summary">
              <div class="form-section" id="filteredOrg" >
                <h4>Oddajesz:</h4>

                <ul>
                  <li>
                    <span class="icon icon-bag" id="bags"></span>
                    <span class="summary--text "

                    > <label id="quantity"></label> worki <label id="rzeczy"></label> w dobrym stanie dla dzieci</span

                    >
                  </li>

                  <li>
                    <span class="icon icon-hand"></span>
                    <span class="summary--text"
                      >Dla fundacji <label id="institution"></label></span
                    >
                  </li>
                </ul>
              </div>

              <div class="form-section form-section--columns">
                <div class="form-section--column1">
                  <h4>Adres odbioru:</h4>
                  <ul>
                    <li><label id="street"></label></li>
                    <li><label id="miasto"></label></li>
                    <li><label id="kod"></label></li>
                    <li><label id="tel"></label></li>
                  </ul>
                </div>

                <div class="form-section--column">
                  <h4>Termin odbioru:</h4>
                  <ul>
                    <li><label id="date"></label></li>
                    <li><label id="czas"></label></li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="submit" class="btn" >Potwierdzam</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <footer>
      <div class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
          <div class="form-group form-group--50">
            <input type="text" name="name" placeholder="Imię" />
          </div>
          <div class="form-group form-group--50">
            <input type="text" name="surname" placeholder="Nazwisko" />
          </div>

          <div class="form-group">
            <textarea
              name="message"
              placeholder="Wiadomość"
              rows="1"
            ></textarea>
          </div>

          <button class="btn" type="submit">Wyślij</button>
        </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"
            ><img src="../static/images/icon-facebook.svg"
          /></a>
          <a href="#" class="btn btn--small"
            ><img src="../static/images/icon-instagram.svg"
          /></a>
        </div>
      </div>
    </footer>

    <script src="../static/js/app.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% block scripts %}
    <script>

$(document).ready(function (){
    $('.ajaxLoader').hide();
    $(".checkbox_cat").on('click', function (){
        var _filterObj={};
        $('.checkbox_cat').each(function (index, ele){
        var _filterVal=$(this).val();
        var _filterKey=$(this).data('filter');
        _filterObj[_filterKey]=Array.from(document.querySelectorAll('input[data-filter='+_filterKey+']:checked')).map(function (el) {
            return el.value;
        })
    });
        //run Ajax
        $.ajax({
            url:'{% url 'filter-data' %}',
            data:_filterObj,
            dataType:'json',
            beforeSend:function (){
            $('.ajaxLoader').html('Loading..');
        },
            success:function (res){
            console.log(res);
            $("#filteredInstitution").html(res.data);
            $('.ajaxLoader').hide();
        }
    })
        $.ajax({
            url:'{% url 'add_donation' %}',
            data:_filterObj,
            dataType:'json',
            beforeSend:function (){
            $('.ajaxLoader').html('Loading..');
        },
            success:function (res){
            console.log(res);
            $("#filteredInstitution").html(res.data);
            $('.ajaxLoader').hide();
        }
    })
    });

    });

$('#form1').submit('submit', function (e){
    e.preventDefault();
    $('#request-btn').ready(function (){
    var id = [];
    $(':checkbox:checked').each(function(i){
            id[i]=$(this).val()
        console.log(id)
    })


    console.log("create donation is working!") // sanity check
        $.ajax({
            method:'POST',
            url:{% url 'add_donation' %},
            traditional: true,
            data:{
                    quantity:$('#bags').val(),
                    institution:$("input[type='radio'][name='organization']:checked").val(),
                    categories: id,
                    address:$('#address').val(),
                    phone_number:$('#phone').val(),
                    city:$('#city').val(),
                    zip_code:$('#postcode').val(),
                    pick_up_date:$('#data').val(),
                    pick_up_time:$('#time').val(),
                    pick_up_comment:$('#more_info').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

        },
            success : function(data) {
                $('h2').html(data);
                console.log(data); // log the returned json to the console
                console.log("success"); // another sanity check
                location.href = '/summary'
            }
        })
})
    });
function showData(){
    var quantity = $('#bags').val();
    $('#quantity').html(quantity);

    var institution = $("input[type='radio'][name='organization']:checked").val();
    $('#institution').html(institution);

    var address = $('#address').val();
    $('#street').html(address);

    var city = $('#city').val();
    $('#miasto').html(city);

    var kod = $('#postcode').val();
    $('#kod').html(kod);

    var tel = $('#phone').val();
    $('#tel').html(tel);

    var date = $('#data').val();
    $('#date').html(date);

    var time = $('#time').val();
    $('#czas').html(time);

    $('#request-btn').ready(function () {
        var id = [];
        $(':checkbox:checked').each(function (i) {
            id[i] = $(this).val()
            console.log(id)
        })
        $('#rzeczy').html(id);
    })


}

    </script>

  {% endblock scripts %}
  {% endblock %}
</html>

