{% extends 'base.html' %}
{% load static %}{% block content %}
 <header class="header--main-page">
       <nav class="container container--70">
        <ul class="nav--actions">
        {% if request.user.is_authenticated %}
          <li class="logged-user">
            Witaj {{ request.user.first_name }}
            <ul class="dropdown">
              <li><a href={% url "profile" %}>Profil</a></li>
              <li><a href="{% url "update_profile" %}">Ustawienia</a></li>
               {% if user.is_staff %}
                    <li><a href="/admin">Panel administracyjny</a></li>
                    {% endif %}
              <li><a href={% url "logout" %}>Wyloguj</a></li>
              {% endif %}
                     {% if not request.user.is_authenticated %}
        <li><a href="{% url "login" %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a href="{% url "register" %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            {% endif %}
        </ul>
            </li>
      </ul>

      <ul>
          <li><a href="" class="btn btn--without-border active">Start</a></li>
          <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url "add_donation" %}" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
      </nav>


      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
            <div id="counter">
                <em><div class="content-data mt-4" data-url="{% url 'data' %}">
                </div></em>
{#                                <em><div class="content-data mt-4">{{ q }}</div></em>#}


            </div>
          <h3>Oddanych worków</h3>
          <p>Tyle darów udało się przekazać dzięki hojności darczyńców!</p>
        </div>

        <div class="stats--item">
          <em>{{ i|length }}</em>
          <h3>Wspartych organizacji</h3>
          <p>Liczba organizacji, które mogą kontynuować swoją misję dzięki darom.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url "register" %}" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src="{% static "images" %}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static "/images/about-us.jpg" %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Fundacjom</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
      </ul>
      <!-- SLIDE 1 -->

      <div id="institution" class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>
 {% for i in institutions %}
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">{{ i.name }}</div>
              <div class="subtitle">Cel i misja: {{ i.description  }}</div>
            </div>
            <div class="col"><div class="text">{% for cat in i.categories.all %} {{ cat }} {% endfor %}</div></div>
          </li>
     </ul>
                      {% endfor %}
       <nav id="pagination">
        {%  for i in institutions.paginator.page_range %}
            {% if institutions.number == i %}
       <ul class="help--slides-pagination">
            <li class="btn btn--small btn--without-border active"><a class="page-link" href="{{ request.path }}?page={{ i }}" >{{ i }}</a></li>
            {% else %}
            <li class="btn btn--small btn--without-border"><a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
    </ul>
          {% endif %}
  {% endfor %}
    </nav>
           </div>

         <!-- SLIDE 2 -->
      <div id="institution2" class="help--slides" data-id="2">
        <p>
          W naszej bazie znajdziesz listę zweryfikowanych organizacji pozarządowych, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.
        </p>
    {% for i in institutions2 %}
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">{{ i.name }}</div>
              <div class="subtitle">Cel i misja: {{ i.description  }}</div>
            </div>
            <div class="col"><div class="text">{% for cat in i.categories.all %} {{ cat }} {% endfor %}</div></div>
          </li>
     </ul>
      {% endfor %}

       <nav id="pagination2">
        {%  for i in institutions2.paginator.page_range %}
            {% if institutions2.number == i %}
       <ul class="help--slides-pagination">
            <li class="btn btn--small btn--without-border active"><a class="page-link" href="{{ request.path }}?page={{ i }}" >{{ i }}</a></li>
            {% else %}
            <li class="btn btn--small btn--without-border"><a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
    </ul>
          {% endif %}
  {% endfor %}
       </nav>
           </div>


      <!-- SLIDE 3 -->
      <div id="institution3" class="help--slides" data-id="3">
          <p>W naszej bazie znajdziesz listę zweryfikowanych lokalnych zbiórek, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują. </p>
 {% for i in institutions3 %}
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">{{ i.name }}</div>
              <div class="subtitle">Cel i misja: {{ i.description  }}</div>
            </div>
            <div class="col"><div class="text">{% for cat in i.categories.all %} {{ cat }} {% endfor %}</div></div>
          </li>
     </ul>
                      {% endfor %}


       <nav id="pagination3">
        {%  for i in institutions3.paginator.page_range %}
            {% if institutions3.number == i %}
       <ul class="help--slides-pagination3">
            <li class="btn btn--small btn--without-border active"><a class="page-link" href="{{ request.path }}?page={{ i }}" >{{ i }}</a></li>
            {% else %}
            <li class="btn btn--small btn--without-border"><a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
    </ul>
          {% endif %}
  {% endfor %}
    </nav>
           </div>

    </section>

    <footer>
      <div id="contact" class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>

          {% if message %}
            dzieki za kontakt {{ request.user}}
              {% endif %}


          <form action="{% url 'contact' %} " method="post">
                              {% csrf_token %}
          <div class="form-group form-group--50">
            <input type="text" name="name" placeholder="Imię" />
          </div>
          <div class="form-group form-group--50">
            <input type="text" name="surname" placeholder="Nazwisko" />
          </div>
              {% if not request.user.is_authenticated %}
              <div class="form-group form-group--50">
            <input type="email" name="email" placeholder="Email" />
          </div>
              {% endif %}

          <div class="form-group">
                         <textarea name="message" placeholder="Wiadomość" rows="1"></textarea>

          </div>

                 <button type="submit">Wyślij</button>
             </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2019</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img src="../static/images/icon-facebook.svg"/></a>
          <a href="#" class="btn btn--small"><img src="../static/images/icon-instagram.svg"/></a>
        </div>
      </div>
    </footer>

    <script src="../static/js/app.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% block scripts %}
    <script>
    $(document).ready(function (){
        setInterval(function()
        {
        $.ajax({
            type:'GET',
            url: "{% url 'data' %}",
            success: function (response) {
                $(".content-data").empty();
                {
                    console.log(response.don);
                    var temp = response.don;
                    $(".content-data").append(temp);
                }
            },
            error: function (response) {
                console.log('something went wrong');
            }
        });
    },1000);
    });

function ajaxPagination(){
    $('#pagination a.page-link').each((index, el)=>{
        $(el).click((e) =>{
            e.preventDefault()
            let page_url = $(el).attr('href')

            $.ajax({
                url: page_url,
                type: 'GET',
                success: (data) => {
                    $('#institution').empty()
                    $('#institution').append($(data).find('#institution').html())
                    $('#pagination').empty()
                    $('#pagination').append($(data).find('#pagination').html())

                }
            })
        } )
    })
}
$(document).ready(function (){
ajaxPagination()
})
$(document).ajaxStop(function (){
ajaxPagination()
})
    function ajaxPagination2(){
    $('#pagination2 a.page-link').each((index, el)=>{
        $(el).click((e) =>{
            e.preventDefault()
            let page_url = $(el).attr('href')

            $.ajax({
                url: page_url,
                type: 'GET',
                success: (data) => {
                    $('#institution2').empty()
                    $('#institution2').append($(data).find('#institution2').html())
                    $('#pagination2').empty()
                    $('#pagination2').append($(data).find('#pagination2').html())

                }
            })
        } )
    })
}
$(document).ready(function (){
ajaxPagination2()
})
$(document).ajaxStop(function (){
ajaxPagination2()
})
    function ajaxPagination3(){
    $('#pagination3 a.page-link').each((index, el)=>{
        $(el).click((e) =>{
            e.preventDefault()
            let page_url = $(el).attr('href')

            $.ajax({
                url: page_url,
                type: 'GET',
                success: (data) => {
                    $('#institution3').empty()
                    $('#institution3').append($(data).find('#institution3').html())
                    $('#pagination3').empty()
                    $('#pagination3').append($(data).find('#pagination3').html())

                }
            })
        } )
    })
}
$(document).ready(function (){
ajaxPagination3()
})
$(document).ajaxStop(function (){
ajaxPagination3()
})

    </script>
  {% endblock scripts %}

</html>
  {% endblock %}