
            <div class="form-group form-group--checkbox" id="filteredInstitution">
            <p class="ajaxLoader">Laoding...</p>
                {% for i in data %}
              <label>
                <input type="radio" name="organization" value={{ i.id }} id="{{ i.get_type_display }}{{ i.name }}" />
                <span class="checkbox"></span>
                <span class="description">
                  <div class="title">{{ i.name }}</div>
                  <div class="subtitle">
                  {{ i.description }}
                  </div>
                </span>
              </label>
                {% endfor %}
            </div>
