{% extends 'base.html' %}
{% load static %}{% block content %}
     <header class="header--form-page">
      <nav class="container container--70">
        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ request.user.first_name }}
            <ul class="dropdown">
              <li><a href={% url "profile" %}>Profil</a></li>
              <li><a href="{% url "update_profile" %}">Ustawienia</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin">Panel administracyjny</a></li>
                    {% endif %}
              <li><a href={% url "logout" %}>Wyloguj</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li><a href="{% url "landing_page" %}" class="btn btn--without-border">Start</a></li>
          <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url "add_donation" %}" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>
     {% if donations %}
    <h2>Moje donacje</h2>

<form method="post">
         {% csrf_token %}
<h1 class="table"></h1>
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">>
            <tr>
        <th>INSTYTUCJA</th>
            <th>DARY</th>
                    <th>ILOSC</th>
                    <th>TERMIN ODBIORU</th>
                <th>STATUS</th>
                <th>KIEDY ODEBRANO</th>

            </tr>

{% for i in donations %}
        <tr>
        <td>{{ i.institution }}</td>
        <td>{{ i.get_categories }}</td>
        <td>{{ i.quantity }}</td>
            {% if i.is_taken %}
        <td>{{ i.pick_up_date }}{{ i.pick_up_time }}</td>
                <td>zabrany<input type="checkbox" checked="checked" name="ids" value={{ i.id }}></td>
                <td>{{ today }}</td>
            {% elif not i.is_taken %}
        <td>{{ i.pick_up_date }}{{ i.pick_up_time }}</td>
                <td>niezabrany <input type="checkbox" name="ids" value={{ i.id }}></td>
                <td></td>
        {% endif %}

        </tr>
            {% endfor %}
        <td> <button type="submit" class="btn" >Aktualizuj status</button></td>
            </table>



</form>

{% elif not donations%}
     <h2>W ostatnim czasie nie wsparles zadnej organizacji.</h2>
     {% endif %}
    </header>
{% endblock %}